.content-wrapper {
  margin-left: 240px;
  padding: 20px;
  flex: 1;
  background-color: #f4f4f4;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
}


.app-container {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}
