.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 240px;
  padding: 20px;
  flex: 1;
  background-color: #f4f4f4;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
}
